 
body{
    background: url("wallpaper.jpg")!important;
}

.bg-light{
    background-color:#eeeeee!important;
}
.bg-rosa{
    background-color: #f49674!important;
}
#messages{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.rebut{
    word-wrap: break-word;
    max-width: 90%;
    justify-items: flex-start;
    align-self:flex-start; 
    margin-bottom: 1%;
    
    border-bottom-left-radius: 0px!important;
}
.enviat{
    word-wrap: break-word;
    max-width: 90%;
    background-color:#f49674;
    justify-items: flex-end;
    align-self:flex-end; 
    margin-bottom: 1%;
    border-bottom-right-radius: 0px!important;
}
.list-group-item, .list-group-item:first-child, .list-group-item:last-child{
    border-radius: 10px;
}
#users .card{
    margin-bottom: 1%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 div#scrollMissatges{
  height: 50vh;
  overflow-y:scroll;
  overflow-x:hidden;
}
.time_date_right {
  color: #747474;
  display: block;
  font-size: 12px;
  justify-items: flex-end;
  align-self: flex-end;
  margin-bottom: 13px;
}
.time_date_left{
  color: #747474;
  display: block;
  font-size: 12px;
  justify-items: flex-start;
  align-self: flex-start;
  margin-bottom: 13px;
}